.checkOutlined {
  color: rgba(0, 0, 0, 0.5);
  &--isRead {
    color: rgb(37, 175, 209) !important;
  } 
}

.loading {
  color: rgba(0, 0, 0, 0.5);
}

.error {
  color: rgba(196, 4, 4, 0.808) !important;
}
