.message_block {
  display: flex;
  width: 100%;
  min-width: 400px;
}

.message_container {
  display: flex;
  overflow: visible;
  width: 100%;
  height: auto;
  max-width: 80%;
  align-items: flex-start;

  .col-avatar {
    margin-left: 10px;
    margin-right: 10px;
  }

  .col-content {
    min-width: 300px;
    padding: 15px 5px;

    .content {

      &_user {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__name {
          font-family: Roboto, sans-serif;
          font-size: 14px;
          font-weight: 600;
          color: #475466;
          letter-spacing: 0.2px;
        }

        &__date {
          padding: 0 5px 0 5px;
          color: #94A1B3;
          font-size: 12px;
        }
      }

      &_block {
        margin-top: 5px;
        padding: 20px;
        border-radius: 0 15px 15px 15px;
        background-color: #910202;

        &__text {
          font-family: Roboto, sans-serif;
          font-size: 14px;
          font-weight: 400;
          color: #ffffff;
          letter-spacing: 0.2px;
        }
      }
    }
  }
}

.me {
  flex-direction: row-reverse;
}

.border {
  border-radius: 15px 0 15px 15px !important;
}