$primary-color: #910202;

.message__block {
  display: flex;
  margin-bottom: 5px;
  width: 100%;
  min-width: 400px;
}

.message {
  display: flex;
  overflow: visible;
  width: 100%;
  height: auto;
  max-width: 60%;
  align-items: flex-start;
  $self: &;

  &__avatar {
    margin-left: 10px;
    margin-right: 10px;
    img {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }
  }

  &__content {
    min-width: 300px;
    padding: 15px 5px;
    &-user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      p {
        color: #475466; 
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 600;
        letter-spacing: 0.2px;
        line-height: 20px;
      }

      span {
        padding: 0 5px 0 5px;
        color: #94A1B3;
        font-size: 12px;
        font-family: Roboto, sans-serif;
        letter-spacing: 0.2px;
        font-weight: 400;
      }
    }

    &-text {
      margin-top: 5px;
      padding: 0 20px 20px 20px;
      border-radius: 0 15px 15px 15px;
      background-color: $primary-color;

      p {
        padding-top: 20px;
        font-family: Roboto, sans-serif;
        font-size: 14px;
        font-weight: 400;
        color: #ffffff;
        letter-spacing: 0.2px;
        line-height: 20px;
      }

      img {
        border-radius: 7px;
      }

      &--attachmens {
        padding-top: 15px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;

        img {
          margin-top: 7px;
          margin-right: 8px;
          width: 70px;
          height: 70px;
          border-radius: 7px;
          cursor: pointer;
        }
      }

      // .first_attachmens {
      //   display: block;
      //   margin: 0;
      //   width: 100%;
      //   max-width: 350px;
      //   height: auto;
      // }

    }
  }

  &--isMe {
    flex-direction: row-reverse;
    #{$self}__content {
      &-user {
        flex-direction: row-reverse;
        span {
          .isRead {
            color: rgb(37, 175, 209);
          }
        }
      }

      &-text {
        border-radius: 15px 0 15px 15px !important;
        background-color: #ffffff !important;
        border: 1px solid $primary-color !important;
        p {
          color: $primary-color !important;
        }
      }
    }
  }
  
}

.me {
  flex-direction: row-reverse;
}

// .border  {
  
// }

// .text_color {
  
// }